In [ ]:
import numpy as np
import pandas as pd

Requirement already satisfied: numpy in c:\users\eriny\appdata\local\programs\python\python312\lib\site-packages (2.3.4)

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\eriny\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eriny\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\eriny\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.3.3-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ------------------------------------- -- 10.2/11.0 MB 57.9 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 52.9 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.2

In [6]:
newts = pd.read_csv('data/newt count data - Sheet1.csv')

In [13]:
cleaned = newts.drop(newts.iloc[12:16].index).reset_index(drop=True)
cleaned

,Trip Number,Date,Quadrant,Observer,Start Time,End Time,Adult Newts,Larvae,Egg Masses,Notes
0,1.0,3/9/2025,1,Kannon,10:08 AM,10:13 AM,1.0,4.0,150.0,NaN
1,1.0,3/9/2025,2,Erin,10:08 AM,10:13 AM,6.0,0.0,89.0,NaN
2,1.0,3/9/2025,3,Kannon,9:56 AM,10:01 AM,6.0,9.0,131.0,NaN
3,1.0,3/9/2025,4,Erin,9:56 AM,10:01 AM,10.0,7.0,24.0,NaN
4,2.0,4/12/2025,1,Kannon,9:47 AM,9:54 AM,12.0,7.0,17.0,kannon doesn't know how tally marks work
5,2.0,4/12/2025,2,Erin,9:48 AM,9:54 AM,8.0,12.0,39.0,"wrote ""1"" as quadrant. mistake from quadrant n..."
6,2.0,4/12/2025,3,Kannon,10:02 AM,10:08 AM,11.0,9.0,25.0,NaN
7,2.0,4/12/2025,4,Erin,10:03 AM,10:11 AM,14.0,16.0,6.0,NaN
8,3.0,5/3/2025,1,Army,9:44 AM,9:54 AM,9.0,2.0,0.0,NaN
9,3.0,5/3/2025,2,Army,9:57 AM,10:06 AM,8.0,8.0,7.0,NaN
10,3.0,5/3/2025,3,Erin,9:45 AM,9:54 AM,18.0,4.0,42.0,20 egg masses found on underside of box not pr...
11,3.0,5/3/2025,4,Erin,9:57 AM,10:06 AM,9.0,10.0,0.0,NaN
12,4.0,5/23/2025,1,Kannon,10:49 AM,10:58 AM,6.0,17.0,0.0,NaN
13,4.0,5/23/2025,2,Erin,10:49 AM,10:54 AM,9.0,10.0,0.0,NaN
14,4.0,5/23/2025,3,Kannon,10:58 AM,11:03 AM,11.0,9.0,0.0,NaN
15,4.0,5/23/2025,4,Erin,10:58 AM,11:03 AM,5.0,9.0,0.0,NaN
16,5.0,6/13/2025,1,Michael,9:47 AM,9:54 AM,8.0,15.0,0.0,NaN
17,5.0,6/13/2025,2,Michael,9:36 AM,9:42 AM,7.0,14.0,0.0,glare covered like half of Q2
18,5.0,6/13/2025,3,Erin,9:36 AM,9:44 AM,17.0,21.0,0.0,NaN
19,5.0,6/13/2025,4,Erin,9:47 AM,9:56 AM,18.0,23.0,0.0,NaN
20,6.0,7/8/2025,1,Michael,9:23 AM,9:31 AM,8.0,22.0,0.0,NaN
21,6.0,7/8/2025,2,Michael,9:34 AM,9:43 AM,13.0,15.0,0.0,GLARE
22,6.0,7/8/2025,3,Erin,9:23 AM,9:29 AM,3.0,14.0,0.0,glare covered like half of Q3
23,6.0,7/8/2025,4,Erin,9:34 AM,9:43 AM,12.0,41.0,0.0,NaN
24,7.0,7/29/2025,1,Michael,9:23 AM,9:32 AM,17.0,23.0,0.0,NaN
25,7.0,7/29/2025,2,Michael,9:34 AM,9:42 AM,4.0,13.0,0.0,GLARE
26,7.0,7/29/2025,3,Erin,9:23 AM,9:30 AM,12.0,17.0,0.0,NaN
27,7.0,7/29/2025,4,Erin,9:34 AM,9:43 AM,13.0,38.0,0.0,NaN
28,8.0,8/19/2025,1,Michael,9:17 AM,9:24 AM,6.0,20.0,0.0,NaN
29,8.0,8/19/2025,2,Michael,9:27 AM,9:34 AM,3.0,7.0,0.0,GLARE
30,8.0,8/19/2025,3,Erin,9:17 AM,9:23 AM,9.0,21.0,0.0,GLARE
31,8.0,8/19/2025,4,Erin,9:27 AM,9:33 AM,7.0,17.0,0.0,GLARE
32,9.0,9/5/2025,1,Michael,9:52 AM,10:00 AM,15.0,27.0,0.0,polarized sunglasses arrived
33,9.0,9/5/2025,2,Michael,10:03 AM,10:12 AM,7.0,16.0,0.0,polarized sunglasses arrived
34,9.0,9/5/2025,3,Erin,9:52 AM,10:00 AM,9.0,42.0,0.0,polarized sunglasses arrived
35,9.0,9/5/2025,4,Erin,10:03 AM,10:12 AM,4.0,54.0,0.0,polarized sunglasses arrived
36,10.0,9/26/2025,1,Umi,9:43 AM,9:49 AM,4.0,6.0,0.0,NaN
37,10.0,9/26/2025,2,Kannon,9:43 AM,9:48 AM,5.0,5.0,0.0,NaN
38,10.0,9/26/2025,3,Erin,9:43 AM,9:49 AM,6.0,12.0,0.0,no polarized glasses- hard to see
39,10.0,9/26/2025,4,Erin,9:54 AM,10:00 AM,4.0,19.0,0.0,NaN
40,11.0,10/24/2025,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,11.0,10/24/2025,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,11.0,10/24/2025,3,Erin,9:42 AM,9:48 AM,3.0,10.0,0.0,NaN
43,11.0,10/24/2025,4,Erin,9:53 AM,9:48 AM,2.0,8.0,0.0,NaN